body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    height: 850px;
    background-color: rgb(144, 146, 146);
    justify-content: center;
}
.calc{
    display: flex;
    height: 500px;
    width: 300px;
    background-color: rgba(15, 7, 7, 0.74);
    margin: 17px;
    border-radius: 20px;
    justify-content: center;
}
.calc2{
    height: 75px;
    width: 386px;
    background-color: rgb(253, 253, 253);
    margin: 12px;
   
}
.button1{
    height: 35px;
    margin: 56px;
    background-color: rgb(121, 42, 42);
}